*.pro
*.user
*/*.pro
*/*.user
build/**/*
Docs/
Docs/**/*
backup/
backup/**/*
execution/
execution/**/*
build_drm_monolayer/**/*
ToDo/
/GUI/drm_monolayer_GUI.pro.user
/GUI/drm_monolayer_GUI.pro
PEST/
PEST/**/*
PEST_C/
PEST_C/**/*
PEST_I/
PEST_I/**/*
PEST_M/
PEST_M/**/*
PEST_P/
PEST_P/**/*
